*.iml
.gradle
/local.properties
/.env
/app/keystore.p12
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/opencode.jsonc
/cardtest/out/
/cardtest/classes/
/cardtest/tools/classes/
